<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Meet Results Website</title>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <header>
       <h1>{{ meet_name }}</h1>
       <nav>
           <ul>
               <li><a href="index.html">Home</a></li>
               <li><a href="{{ team_results_link }}">Meet Details</a></li>
           </ul>
       </nav>
   </header>
   <main>
       <section id="meet-details">
           <h2>Meet Details</h2>
           <article>
               <h3 id="meet-name">{{ meet_name }}</h3>
               <p id="meet-date">{{ meet_date }}</p>
               <p>{{ race_comments }}</p>
           </article>
       </section>
       <section id="team-results">
           <h2>Team Results</h2>
           <table>
               <thead>
                   <tr>
                       <th>Place</th>
                       <th>Team</th>
                       <th>Score</th>
                   </tr>
               </thead>
               <tbody id="team-data">
                   {% for team in teams %}
                   <tr>
                       <td>{{ team.Place }}</td>
                       <td>{{ team.Team }}</td>
                       <td>{{ team.Score }}</td>
                   </tr>
                   {% endfor %}
               </tbody>
           </table>
       </section>
       <section id="athlete-results">
           <h2>Athlete Results</h2>
           <table>
               <thead>
                   <tr>
                       <th>Place</th>
                       <th>Grade</th>
                       <th>Name</th>
                       <th>Time/Score</th>
                       <th>Team</th>
                       <th>Image</th>
                   </tr>
               </thead>
               <tbody id="athlete-data">
                   {% for athlete in athletes %}
                   <tr>
                       <td>{{ athlete.Place }}</td>
                       <td>{{ athlete.Grade }}</td>
                       <td><a href="{{ athlete['Athlete Link'] }}">{{ athlete.Name }}</a></td>
                       <td>{{ athlete.Time }}</td>
                       <td><a href="{{ athlete['Team Link'] }}">{{ athlete.Team }}</a></td>
                       <td><img src="{{ athlete['Profile Pic'] }}" alt="Image of {{ athlete.Name }}" /></td>
                   </tr>
                   {% endfor %}
               </tbody>
           </table>
       </section>
   </main>
   <footer>
       <p>&copy; 2024 Meet Results Website</p>
   </footer>
</body>
</html>